@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Kalam:wght@300;400;700&family=Montagu+Slab:opsz,wght@16..144,400;16..144,500;16..144,600;16..144,700&family=Montserrat:wght@400;500;600&family=Nunito:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');
:root {
    --dark-color: #00040F;
    --cyan-color: #5CE1E6;
    --white-color: #fff;
    --text-color: #ffffffb3;
    font-family: 'Poppins', sans-serif;
}
.center-y-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-y {
    display: flex;
    align-items: center;
}
.bg-color-dark {
    background-color: var(--dark-color) !important;
}

body {
    background-color: var(--dark-color) !important;
}

#special-button {
    border: none;
    padding: 13px 25px;
    background-image: linear-gradient(to left, #DEF9FA, #BEF3F5, #9DEDF0, #7DE7EB, #5CE1E6, #33BBCF);
    border-radius: .5rem;
    font-size: 18px;
    font-weight: bold;
}